.container {
  max-width: 900px;
  margin: auto;
  padding: 30px;
  background-color: #E8E6DE;
  }
  
  .header {
  font-size: 40px;
  margin-bottom: 50px;
  color: #7BCDBA;
  text-align: center;
  }
  
  .form {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
  }
  
  .input-wrapper {
  position: relative;
  margin-bottom: 30px;
  }
  
  input {
  font-size: 18px;
  width: 100%;
  padding: 10px 10px 10px 0;
  border: none;
  border-bottom: 2px solid #7BCDBA;
  background-color: transparent;
  color: #7BCDBA;
  transition: border-bottom 0.3s;
  }
  
  input:focus {
  outline: none;
  border-bottom: 2px solid #ffc7c7;
  }
  
  label {
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 10px;
  color: #7BCDBA;
  transition: all 0.3s;
  }
  
  input:focus ~ label,
  input:valid ~ label {
  top: -20px;
  font-size: 14px;
  font-weight: normal;
  }
  
  .error {
  color: red;
  margin-bottom: 20px;
  }
  
  .btn {
  background-color: #7BCDBA;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  }
  
  .btn:hover {
  background-color: #E8E6DE;
  color: #7BCDBA;
  }
  
  .link-wrapper {
  display: none;
  margin-bottom: 50px;
  background-color: #E8E6DE;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.3s ease-in-out;
  }
  
  .link-wrapper h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #7BCDBA;
  }
  
  .short-link {
    margin-top: 10px;
    background-color: #E8E6DE;
    padding: 10px;
    border-radius: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
    }
    
    .short-link a {
    color: #7BCDBA;
    text-decoration: none;
    }
    
    .shortened-url {
    background-color: #E8E6DE;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
    display: inline-block;
    }
    
    .hits {
    margin-bottom: 10px;
    }
    
    .update-url {
    display: none;
    margin-top: 20px;
    }
    
    .update-url input[type="text"] {
    width: 100%;
    border: none;
    border-bottom: 2px solid #7BCDBA;
    margin-right: 10px;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    }
    
    .update-url button {
    background-color: #E8E6DE;
    color: #7BCDBA;
    border: none;
    border-radius: 8px;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
    }
    
    .previous-urls {
    margin-top: 20px;
    text-align: center;
    }
    
    .previous-urls h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #7BCDBA;
    }
    
    .urls-list {
    border-collapse: collapse;
    width: 100%;
    }
    
    .urls-list td,
    .urls-list th {
    border: 1px solid #ddd;
    padding: 8px;
    color: #7BCDBA;
    border-bottom: 1px solid #7BCDBA;
    }
    
    .urls-list tr:nth-child(even) {
    background-color: #E8E6DE;
    }
    
    .urls-list tr:hover {
    background-color: #E8E6DE;
    }
    
    .urls-list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #7BCDBA;
    color: white;
    }
    
    
    .urls-list td:first-child {
    font-weight: bold;
    }